/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  display: flex;
  flex-direction: row;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04aa6d;
  color: white;
}
#block-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#main {
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figure {
  position: absolute;
}
#bigYellow-Triangle {
  width: 10rem;
  height: 20rem;
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
  background-color: #f9c30f;
}
#bigGreen-Triangle {
  width: 20rem;
  height: 10rem;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  background-color: #33c763;
}
#blue-Triangle {
  width: 5rem;
  height: 10rem;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  background-color: #3396f8;
}
#greenSmallTriangle {
  width: 10rem;
  height: 10rem;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  background-color: #8bc03d;
}
#red-Square {
  width: 10rem;
  height: 10rem;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: #f96764;
}

#blue-Parallelogram {
  width: 17.5rem;
  height: 5rem;
  clip-path: polygon(28.5% 0%, 85.6% 0%, 57.5% 100%, 0% 100%);
  background-color: #8f91d7;
}
#orange-Triangle {
  width: 10rem;
  height: 5rem;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  background-color: #fe9832;
}
#blue-Triangle {
  width: 5rem;
  height: 10rem;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  background-color: #3396f8;
}
@media screen and (max-width: 1024px) {
  #main {
    transform: scale(100%);
  }
}

@media screen and (max-width: 700px) {
  #main {
    transform: scale(75%);
  }
}
@media screen and (max-width: 320px) {
  #main {
    transform: scale(30%);
  }
}
