
.bigYellow-Triangle{
    transform: translateX(1rem) translateY(8rem) rotate(136deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}
.bigGreen-Triangle{
    transform: translateX(-9.5rem) translateY(9.3rem) rotate(361deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}

.blue-Triangle{
    transform: translateX(-11rem) translateY(-5.8rem) rotate(6deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}

.red-Square{
    transform: translate(-9rem,-0.6rem)rotate(366deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}

.blue-Parallelogram{
    transform: translateX(19.3rem) translateY(16.1rem) rotate(405deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);   
}
.orange-Triangle {
    transform: translateX(-6rem) translateY(-5.3rem) rotate(96deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}
.greenSmallTriangle {
    transform: translateX(4.4rem) translateY(11.6rem) rotate(136deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}