.bigYellow-Triangle {
  transform: translateX(-6.4rem) translateY(0.7rem) rotate(315deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
.bigGreen-Triangle {
  transform: translateX(-6.4rem) translateY(8rem) rotate(315deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.blue-Triangle {
  transform: translateX(-19.3rem) translateY(6.3rem) rotate(315deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.red-Square {
  transform: translate(-13.7rem, 8rem) rotate(45deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.blue-Parallelogram {
  transform: translateX(11rem) translateY(7rem) rotate(360deg) scaleX(-1);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.orange-Triangle {
  transform: translateX(4.5rem) translateY(7rem) rotate(360deg) scaleY(-1);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.greenSmallTriangle {
  transform: translateX(-19.5rem) translateY(-0.8rem) rotate(270deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
