
.bigYellow-Triangle{
    transform: translateX(3rem) translateY(12rem) rotate(405deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}
.bigGreen-Triangle{
    transform: translateX(-4rem) translateY(12rem) rotate(405deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}

.blue-Triangle{
    transform: translateX(-12.4rem) translateY(-1rem) rotate(270deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}

.red-Square{
    transform: translate(-11rem,5rem)rotate(405deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}

.blue-Parallelogram{
    transform: translateX(2.2rem) translateY(23.3rem) rotate(135deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);   
}
.orange-Triangle {
    transform: translateX(-5.5rem) translateY(20rem) rotate(180deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}
.greenSmallTriangle {
    transform: translateX(8.5rem) translateY(3.5rem) rotate(180deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}