.bigYellow-Triangle {
  transform: translateX(5rem) translateY(5rem) rotate(360deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
.bigGreen-Triangle {
  transform: translateX(0rem) translateY(10rem) rotate(360deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.blue-Triangle {
  transform: translateX(-7.5rem) translateY(10rem) rotate(360deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.red-Square {
  transform: translate(-5rem, 5rem);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.blue-Parallelogram {
  transform: translateX(3.8rem) translateY(-2.5rem) rotate(360deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
.orange-Triangle {
  transform: translateX(0rem) translateY(2.5rem) rotate(360deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
.greenSmallTriangle {
  transform: translateX(-5rem) translateY(0rem) rotate(360deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
