#block-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#main {
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figure {
  position: absolute;
}
#bigYellow-Triangle {
  width: 10rem;
  height: 20rem;
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
  background-color: #f9c30f;
}
#bigGreen-Triangle {
  width: 20rem;
  height: 10rem;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  background-color: #33c763;
}
#blue-Triangle {
  width: 5rem;
  height: 10rem;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  background-color: #3396f8;
}
#greenSmallTriangle {
  width: 10rem;
  height: 10rem;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  background-color: #8bc03d;
}
#red-Square {
  width: 10rem;
  height: 10rem;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: #f96764;
}

#blue-Parallelogram {
  width: 17.5rem;
  height: 5rem;
  clip-path: polygon(28.5% 0%, 85.6% 0%, 57.5% 100%, 0% 100%);
  background-color: #8f91d7;
}
#orange-Triangle {
  width: 10rem;
  height: 5rem;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  background-color: #fe9832;
}
#blue-Triangle {
  width: 5rem;
  height: 10rem;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  background-color: #3396f8;
}
@media screen and (max-width: 1024px) {
  #main {
    transform: scale(100%);
  }
}

@media screen and (max-width: 700px) {
  #main {
    transform: scale(75%);
  }
}
@media screen and (max-width: 590px) {
  #main {
    transform: scale(50%);
  }
}
@media screen and (max-width: 370px) {
  #main {
    transform: scale(30%);
  }
}
