#block-page {
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body {
  margin: 0;
}
#main {
  width: 80vw;
  height: 80vh;
  transform: scale(0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  width: 100%;
}

.button_burger {
    width: 35px;
    height: 22px;
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 3;
}

.button_burger.active {
    position: absolute;
    top: 1em;
    left: 60%;
}

.button_burger span {
    width: 70%;
    height: 4px;
    background-color: black;
    display: block;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
}
.button_burger.active span::before {
  transform: translateY(0px) rotateZ(45deg);
  background-color: #01113d;
  border-radius: 5px;
}

.button_burger.active span::after {
  transform: translateY(0px) rotateZ(-45deg);
  background-color: #01113d;
  border-radius: 5px;
}

.button_burger.active span {
  background-color: transparent;
}

.button_burger span::before,
.button_burger span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #01113d;
    transition: transform 0.5s ease-in-out;
    border-radius: 5px;
}
.button_burger span::before {
    transform: translateY(-10px);
}
.button_burger span::after {
    transform: translateY(10px);
}
header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
}
button {
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 20px;
  text-indent: -9000px;
  width: calc(10% - 10px);
  background-color: transparent;
  border: 0;
  margin: 0 10px;
  padding: 0;
}
button:hover {
  transform: scale(1.1);
}
header nav :nth-of-type(1) {
  background-image: url(../img/home.png);
}
header nav :nth-of-type(2) {
  background-image: url(../img/square.png);
}
header nav :nth-of-type(3) {
  background-image: url(../img/plane.png);
}
header nav :nth-of-type(4) {
  background-image: url(../img/Boat.png);
}
header nav :nth-of-type(5) {
  background-image: url(../img/dancer.png);
}
header nav :nth-of-type(6) {
  background-image: url(../img/dog.png);
}
header nav .break {
  flex-basis: 100%;
  padding: 10px;
  background-image: none;
}
header nav :nth-of-type(7) {
  background-image: url(../img/ship.png);
}
header nav :nth-of-type(8) {
  background-image: url(../img/chicken.png);
}
header nav :nth-of-type(9) {
  background-image: url(../img/candle.png);
}
header nav :nth-of-type(10) {
  background-image: url(../img/cat.png);
}
header nav :nth-of-type(11) {
  background-image: url(../img/duc.png);
}
header nav :nth-of-type(12) {
  background-image: url(../img/hammer.png);
}
header nav :nth-of-type(13) {
  background-image: url(../img/goat.png);
}
header nav :nth-of-type(14) {
  background-image: url(../img/shirt.png);
}
div.nav {
  width: 100%;
}
.figure {
  position: absolute;
}
#bigYellow-Triangle {
  width: 10rem;
  height: 20rem;
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
  background-color: #f9c30f;
}
#bigGreen-Triangle {
  width: 20rem;
  height: 10rem;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  background-color: #33c763;
}
#blue-Triangle {
  width: 5rem;
  height: 10rem;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  background-color: #3396f8;
}
#greenSmallTriangle {
  width: 10rem;
  height: 10rem;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  background-color: #8bc03d;
}
#red-Square {
  width: 10rem;
  height: 10rem;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: #f96764;
}

#blue-Parallelogram {
  width: 17.5rem;
  height: 5rem;
  clip-path: polygon(28.5% 0%, 85.6% 0%, 57.5% 100%, 0% 100%);
  background-color: #8f91d7;
}
#orange-Triangle {
  width: 10rem;
  height: 5rem;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  background-color: #fe9832;
}
#blue-Triangle {
  width: 5rem;
  height: 10rem;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  background-color: #3396f8;
}




/* presentation--------------------------------- */
.bigYellow-Triangle {
  transform: translateX(21rem) translateY(-6rem) rotate(270deg);
  transition: transform 2s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
.bigGreen-Triangle {
  transform: translateX(-13rem) translateY(-6rem) rotate(360deg);
  transition: transform 3s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  -webkit-transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  -moz-transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  -ms-transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  -o-transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.blue-Triangle {
  transform: translateX(-25.5rem) translateY(-6rem) rotate(360deg);
  transition: transform 3s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.red-Square {
  transform: translate(34rem, -5rem)rotate(88deg);
  transition: transform 2s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.blue-Parallelogram {
  transform: translateX(2rem) translateY(-5rem) rotate(45deg);
  transition: transform 3s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
.orange-Triangle {
  transform: translateX(14rem) translateY(-3.5rem) rotate(180deg);
  transition: transform 2s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
.greenSmallTriangle {
  transform: translateX(-35rem) translateY(-6rem) rotate(360deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  -webkit-transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  -moz-transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  -ms-transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  -o-transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
/* presentation-------------------------- */
@media screen and (max-width: 1024px) {
  #main {
    transform: scale(75%);
  }
}
@media screen and (max-width: 978px) {
  #main {
    transform: scale(65%);
  }
}
@media screen and (max-width: 844px) {
  #main {
    transform: scale(50%);
  }
}
@media screen and (max-width: 652px) {
  #main {
    transform: scale(35%);
  }
}
@media screen and (max-width: 450px) {
  #main {
    transform: scale(30%);
  }
}
@media screen and (max-width: 400px) {
  #main {
    transform: scale(25%);
  }
}
@media screen and (max-width: 320px) {
  #main {
    transform: scale(20%);
  }
}