
.bigYellow-Triangle{
    transform: translateX(-5rem) translateY(-3rem) rotate(360deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}
.bigGreen-Triangle{
    transform: translateX(-10rem) translateY(2rem) rotate(360deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}

.blue-Triangle{
    transform: translateX(8.8rem) translateY(5.3rem) rotate(135deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}

.red-Square{
    transform: translate(3.5rem,3.5rem)rotate(405deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}

.blue-Parallelogram{
    transform: translateX(-4rem) translateY(11.4rem) rotate(405deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);   
}
.orange-Triangle {
    transform: translateX(1.7rem) translateY(-1.7rem) rotate(45deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}
.greenSmallTriangle {
    transform: translateX(2rem) translateY(7rem) rotate(225deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}