#main{
    width: auto;
    background-color: #333;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  header{
    display: flex;
    align-items: center;
  }
  /*#block_figure {
    display: flex;
    border: solid white;
    background-color: white;
    width: 40rem;
    height: 40rem;
    margin: 0;
    position: relative ;
  }*/
  #bigYellowTriangle{
    width: 20rem;
    height: 40rem;
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
    background-color:#f9c30f;
    position: absolute;
    top: 30.1rem;
    left :31.9rem;
    transform: rotate(1turn);
  }
  #bigGreenTriangle{
    width: 40rem;
    height: 20rem;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    background-color: #33c763;
    position: absolute;
    top:50rem;
    left: 12rem;
    /* transform: rotate(0turn); */
}

  }

  #blueTriangle{
    width: 10rem;
    height: 20rem;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    background-color:#3396f8;
    position: absolute;
    top: 20rem ;
  }
  #greenSmallTriangle{
    width: 20rem;
    height: 20rem;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    background-color: #8bc03d;
    position: absolute;
    left: 0rem;
    top: 0rem;
    transform: rotate(0.505turn);
  }
  #redSquare{
    width: 20rem;
    height: 20rem;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color:#f96764;
    Position: absolute;
    top: 52.9rem;
    transform: rotate(0.125turn);
    left: 48.9rem;
  }

  #blueParallelogram{
    width: 35rem;
    height:10rem;
    clip-path: polygon(28.5% 0%, 85.6% 0%, 57.5% 100%, 0% 100%);
    background-color: #8f91d7;
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    transform: rotate(0.25turn);

  }
  #orangeTriangle{
    width: 20rem;
    height: 10rem;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    background-color: #fe9832;
    position: absolute;
    top: 47.4rem;
    left: 45.4rem;
    transform: rotate(0.125turn);


  }
  #blueTriangle{
    width: 10rem;
    height: 20rem;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    background-color:#3396f8;
    position: absolute;
    transform: rotate(0.375turn);
    top: 56.4rem;
    left: 64.4rem;

  }
